*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*::selection{
    color: pink;
    background-color: black;
}




/* SCROLLBAR STYLING */


::-webkit-scrollbar {
    width: .75rem;
  }
  
  ::-webkit-scrollbar-track {
    background: #cecece;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #3f3f3f;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #222222;
  }



/* MENU BUTTON DESKTOP STYLING */

.menuopen{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
    position: fixed;
    top: 0;
    right: 0vw;
    z-index: 5;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: .5rem;
    margin-top: 1rem;
    border-radius: 1rem 0 0 1rem;
    cursor: pointer;
}

.menuopen.active{
    transition: all .5s;
    position: fixed;
    top: 0;
    right: 25vw;
    z-index: 5;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    padding: .5rem;
    margin-top: 1rem;
    border-radius: 1rem 0 0 1rem;
}

.buttonspan{
    transition: all 1s;
    opacity: .5;
    font-weight: bold;
}
.buttonspan:hover{
    transition: all .5s;
    opacity: 1;
}
.buttonspan.active{
    position: relative;
    transform: rotate(-45deg);
    transition: all 1s
}

/* NAVMENU DESKTOP STYLING */

.navmenu{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .5s;
    width: 25vw;
    height: 100vh;
    display: flex;
    position: fixed;
    top: 0;
    right: -25vw;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.5);
    user-select: none;
}

.navmenu.active{
    transition: all .5s;
    width: 25vw;
    height: 100vh;
    display: flex;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.5);
}

.navmenu ul li{
    color: white;
    text-decoration: none;
    list-style-type: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 2rem;
    margin: 3rem;
    text-align: center;
    opacity: .5;
    font-weight: 100;
}

.navmenu ul li:hover{
    cursor: pointer;
    transform: scale(1.1);
    text-decoration: line-through;
}

.navmenu a{
    position: absolute;
    bottom: 0;
    color: whitesmoke;
    text-decoration: none;
    margin: 1rem;
    font-size: .75rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    opacity: .5;
}

/* HERO PAGE DESKTOP STYLING */

.hero{
    display: flex;
    height: 100vh;
    background-image: url(https://wallpapercave.com/wp/wp4720092.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    user-select: none;
}

.herotext{
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 5rem;
    text-align: center;
}

.herotext h1{
    color: white;
    font-size: 10rem;
    font-weight: 100;
    transform: scale(1,1.1);
}

.herotext span{
    color: transparent;
    -webkit-text-stroke: 2px white;
}

.herotext p{
    letter-spacing: 1.5rem;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    font-style: italic;
}

.aboutme{
    display: flex;
    height: 100vh;
}

.abouttext{
    display: flex;
    width: 50vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-image: linear-gradient(45deg, rgb(56, 56, 56), rgb(77, 77, 77));
    color: whitesmoke;
}

.abouttextcontent{
    opacity: 0;
    transition: all .5s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.abouttext h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 4rem;
    margin: 1rem;
    border: .5rem solid white;
    padding: .5rem;
}

.abouttext p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 50%;
    font-weight: 100;
    font-size: 1rem;
    line-height: 1.6;
    text-align: left;
    margin: 1rem;
}

.aboutimage{
    width: 50vw;
    height: 100vh;
    display: flex;
    background-color: grey;
    background-image: url(facesskin.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.tattoosparallax{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    flex-direction: column;
    background-image: url(tattooingimage.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
}

.tattoosparallax h2{
    font-size: 4rem;
    border: .5rem solid white;
    background-color: rgba(0, 0, 0, 0.699);
    padding: .5rem;
}

.tattoosparallax p{
    font-size: 1rem;
    font-style: italic;
    letter-spacing: 1rem;
}

.tattoosection{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    justify-content: space-around;
    background-color: whitesmoke;
    
}

.tattoocontainer{
    transition: all 1s;
    display: flex;
    height: 90vh;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.tattooimage{
    transition: all .5s;;
    width: 20%;
    height: 50%;
    object-fit: cover;
    object-position: center;
    margin: 1px;
    opacity: .5;
    z-index: 1;
    border-radius: 1%;
    filter: grayscale(100%);
}

.tattooimage:hover{
    object-fit: cover;
    margin: 1px;
    opacity: 1;
    z-index: 4;
    filter: grayscale(0%);
}


.aboutart{
    display: flex;
    flex-direction: row-reverse;
    height: 100vh;
}

.artbgimage{
    width: 50vw;
    height: 100vh;
    display: flex;
    background-color: grey;
    background-image: url(artbg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.arttext{
    display: flex;
    width: 50vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    background-image: linear-gradient(45deg, rgb(56, 56, 56), rgb(77, 77, 77));
    color: whitesmoke;
}

.arttextcontent{
    transition: all .5s;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.arttext h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-size: 4rem;
    margin: 1rem;
    border: .5rem solid white;
    padding: .5rem;
}

.arttext p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 50%;
    font-weight: 100;
    font-size: 1rem;
    line-height: 1.6;
    margin: 1rem;
}

.artimage{
    transition: all .5s;;
    width: 20%;
    height: 50%;
    object-fit: cover;
    object-position: center;
    margin: 1px;
    opacity: .5;
    z-index: 1;
    border-radius: 1%;
    filter: grayscale(100%);
}

.artparallax{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20vh;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    flex-direction: column;
    background-image: url(casavartsbackground.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
}

.artparallax h2{
    font-size: 4rem;
    border: .5rem solid white;
    background-color: rgba(0, 0, 0, 0.699);
    padding: .5rem;
}

.artparallax p{
    font-size: 1rem;
    font-style: italic;
    letter-spacing: 1rem;
    color: whitesmoke;
}

.artsection{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    justify-content: space-around;
    background-color: whitesmoke;
    
}

.artcontainer{
    transition: all 1s;
    display: flex;
    height: 90vh;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}


.artimage{
    transition: all .5s;;
    width: 20%;
    height: 50%;
    object-fit: cover;
    object-position: center;
    margin: 1px;
    opacity: .5;
    z-index: 1;
    border-radius: 1%;
    filter: grayscale(100%);
}

.artimage:hover{
    object-fit: cover;
    margin: 1px;
    opacity: 1;
    z-index: 4;
    filter: grayscale(0%);
}

.faq{
    height: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.faq h2{
    margin: 1rem;
    font-size: 2rem;
    color: whitesmoke;
    border: .25rem solid white;
    background-color: transparent;
    padding: .5rem;
}

.faqcontainer{
    text-align: left;
    user-select: none;
    margin: 1rem;
    height: 75%;
    width: 90%;
    color: whitesmoke;
}

.faqcontainer details span{
    font-size: 1.5rem;
    margin: 1rem;
}

.faqcontainer details summary{
    margin: 1rem;
    font-size: 2rem;
    text-decoration: none;
    opacity: .75;
}

.faqcontainer details summary:hover{
   text-decoration: underline;
   opacity: 1;
}


.footer{
    position: relative;
    height: auto;
    display: flex;
    background-color: black;
    color: whitesmoke;
}

.footer span{
    position: absolute;
    letter-spacing: -1px;
    font-weight: 100;
    bottom: 0;
    opacity: .5;
}

.socials{
    user-select: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 33%;
    background-color: black
}

.socials a{
    display: flex;
    align-items: center;
    margin: 5rem;
}

.socials a img{
    opacity: .75;
    width: 5em;
    height: 5em;
    border-radius: 100%;
}

.socials a img:hover{
    opacity: 1;
    width: 5em;
    height: 5em;
    border-radius: 100%;
    cursor: pointer;
    transform: scale(1.1);
}





@media only screen and (min-width: 500px) and (max-width: 1024px) {
    .herotext{
        margin: 1rem;
    }

    .herotext h1{
        font-size: 7.5rem;
    }

    .abouttextcontent p{
        width: 90%;
        text-align: left;
    }

    .tattooimage{
        width: 22.5%
    }

    .arttextcontent p{
        text-align: left;
        width: 60%;
    }

    .artcontainer img{
        width: 22.5%;
    }
}



@media only screen and (max-width: 450px) {

    .hero {
        background-attachment: initial;
    }

    .navmenu.active {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .menuopen {
        background-color: rgba(0, 0, 0, 0.8);
    }

    .menuopen.active{
        background-color: rgba(0, 0, 0, 0.8);
    }

    .navmenu ul li{
        font-size: 1.25rem;
        margin: 1rem;
        font-weight: bold;
    }

    .navmenu a{
        text-align: center;
    }

    .hero{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    .herotext{
        margin: 0;
        position: relative;
    }

    .herotext h1{
        font-size: 4rem;
        font-weight: bold;
    }

    .hero span{
        -webkit-text-stroke: initial;
        color: white;
    }

    .herotext p{
        font-size: 1rem;
        letter-spacing: .5rem;
        font-weight: bold;
    }

    

    .aboutme{
        display: flex;
        flex-direction: column-reverse;
        height: 100vh;
    }

    .abouttext{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 80vh;
        background-image: linear-gradient(45deg, rgb(56, 56, 56), rgb(77, 77, 77));
    }

    .aboutimage {
        width: 100vw;
        height: 20vh;
    }

    .abouttext h2{
        font-size: 2.5rem;
        border: 1vw solid white;
        padding: 1vw;
        text-align: center;
        font-weight: bold;

    }

    .abouttext p{
        font-size: 4vw;
        line-height: 1;
        width: 90%;
        font-weight: bold;
    }

    .tattoosparallax{
        background-attachment: initial;
    }

    .tattoosparallax h2{
        font-size: 2.5rem;
        border: 1vw solid white;
        background-color: rgba(0, 0, 0, 0.650);
        padding: 1vw;
        text-align: center;
        font-weight: bold;
    }

    .tattoosparallax p{
        letter-spacing: 1vw;
        margin-top: 3vw;
    }

    .tattoocontainer {
        transition: all .5s;
        width: 90vw;
        height: 90vh;
        flex-wrap: nowrap;
        justify-content: flex-start;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .tattoocontainer img{
        height: 100%;
        width: 100%;
        transition: initial;
        opacity: 1;
    }

    .tattoocontainer img:hover{
        transition: none;
        transform: none;
        filter: grayscale(1);
    }


    .aboutart{
        display: flex;
        flex-direction: column-reverse;
        height: 100vh;
    }

    .arttext{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 80vh;
        background-image: linear-gradient(45deg, rgb(56, 56, 56), rgb(77, 77, 77));
       

    }

    .artbgimage {
        width: 100vw;
        height: 20vh;
    }

    .artcontainer {
        transition: all .5s;
        width: 90vw;
        height: 90vh;
        flex-wrap: nowrap;
        justify-content: flex-start;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    .artcontainer img{
        height: 100%;
        width: 100%;
        transition: initial;
        opacity: 1;
    }

    .artcontainer img:hover{
        transition: none;
        transform: none;
        filter: grayscale(1);
    }



    .arttextcontent h2{
        font-size: 2.5rem;
        border: 1vw solid white;
        padding: 1vw;
        text-align: center;
        font-weight: bold;

    }

    .arttextcontent p{
        font-size: 4vw;
        line-height: 1;
        width: 90%;
        font-weight: bold;
    }

    .artparallax{
        background-attachment: initial;
    }

    .artparallax h2{
        font-size: 2.5rem;
        border: 1vw solid white;
        background-color: rgba(0, 0, 0, 0.650);
        padding: 1vw;
        text-align: center;
        font-weight: bold;
    }

    .artparallax p{
        letter-spacing: 1vw;
        margin-top: 3vw;
    }

    .socials a{
        margin: 1rem;
    }

    .socials a img{
        height: 4em;
        width: 4em;
        opacity: 1;
    }

    .socials a img:hover{
        transform: none;
    }

    .footer span{
        display: none;
    }

    .faqcontainer details summary{
        color: whitesmoke;
        font-size: 1.5rem;
    }

    .faqcontainer details span{
        font-size: 16px;
    }

    


}


